<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kr.coffie.login.mapper.LoginMapper">
	
	<select id="userduplicate" parameterType="String" resultType="int">
		select count(*) from tbl_user where user_id = #{userId}
	</select>
	
	<select id="idSearch" parameterType="String" resultType="com.kr.coffie.login.vo.dto.LoginDto$LoginResponseDto">
		select	
			user_id,
			user_name
		from 
			tbl_user 
		where 
			user_name = #{userName} and user_email = #{userEmail}
	</select>
	
	<update id="pwSearch" parameterType="com.kr.coffie.login.vo.dto.LoginDto$LoginRequestDto">
		update 
			tbl_user
		set
			user_pw = #{userPw}
		where
			user_id = #{userId}		
	</update>
	
	<select id="loginProc" parameterType="com.kr.coffie.login.vo.dto.LoginDto$LoginRequestDto" resultType="com.kr.coffie.login.vo.dto.LoginDto$LoginResponseDto">
		select 
			u.user_id,
			u.user_name,
			u.user_pw,
			u.user_age,
			u.user_gender,
			u.user_email,
			u.user_auth
		from 
			tbl_user u
		inner join
			tbl_user_auth a
		on 
			u.user_auth = a.auth_id
		where
			u.user_id = #{userId}
	</select>
	
	<select id="useremailduplocated" parameterType="String" resultType="int">
		select count(*) from tbl_user where user_email = #{userEmail}
	</select>
</mapper>