<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kr.coffie.notice.mapper.NoticeMapper">
	<select id="noticelist" resultType="com.kr.coffie.notice.vo.dto.NoticeDto$NoticeResponseDto">
		SELECT 
			n.notice_id,
			n.notice_group,
			n.notice_fixed,
			n.file_group_id,
			n.notice_title,
			n.notice_contents,
			n.notice_author,
			n.created_at,
			m.user_id as notice_author
		FROM 
			tbl_notice_board n
		left join
		    tbl_user m
		on 
		  n.notice_author = m.user_id    	 
		<include refid="mapper.common.common_mapper.noticesearch"/>	
		order by 
			notice_fixed DESC, notice_id desc 
		<include refid="mapper.common.common_mapper.paging"/>		
	</select>
	
	<select id="noticedetail" parameterType="Integer" resultType="com.kr.coffie.notice.vo.dto.NoticeDto$NoticeResponseDto">
		select 
			n.notice_id,
			n.notice_group,
			n.notice_fixed,
			n.file_group_id,
			n.notice_title,
			n.notice_contents,
			n.notice_author,
			n.created_at,
			m.user_id as notice_author
		from 
			tbl_notice_board n
		left join
		    tbl_user m
		on 
		  n.notice_author = m.user_id    	
		where 
			notice_id = #{noticeId}
	</select>
	
	<insert id="noticeinsert" parameterType="com.kr.coffie.notice.vo.dto.NoticeDto$NoticeRequestDto" useGeneratedKeys="true" keyProperty="noticeId">
		insert into tbl_notice_board
		(
			notice_group,
			notice_title,
			notice_contents,
			notice_fixed,
			notice_author,
			created_at)
		values
		(
			#{noticeGroup},
			#{noticeTitle},
			#{noticeContents},
			#{noticeFixed},
			#{noticeAuthor},
			now()
		)
	</insert>
	
	<delete id="noticedelete" parameterType="Integer">
		delete from 
			tbl_notice_board 
		where 
			notice_id = #{noticeId}
	</delete>
	
	<update id="noticeupdate" parameterType="com.kr.coffie.notice.vo.dto.NoticeDto$NoticeRequestDto" useGeneratedKeys="true" keyProperty="noticeId">
		update 
			tbl_notice_board 
		set 
			notice_title = #{noticeTitle},
			notice_contents = #{noticeContents}, 
			notice_fixed = #{noticeFixed},
			notice_group = #{noticeGroup},
			created_at = now()
		where 
			notice_id = #{noticeId}	
	</update>
	
	<select id="noticetotalcount" resultType="Integer">
		select 
			count(*) 
		from 
			tbl_notice_board		 
	</select>
</mapper>