<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kr.coffie.admin.mapper.AdminMapper">
	<!-- 회원가입(회원용) o.k-->
	<insert id="memberjoin" parameterType="com.kr.coffie.login.vo.dto.LoginDto$LoginRequestDto">
		insert into 
			tbl_user(user_id,user_pw,user_name,user_age,user_gender,user_email,user_addr1,user_addr2,user_auth)
		values(#{userId},#{userPw},#{userName},#{userAge},#{userGender},#{userEmail},#{userAddr1},#{userAddr2},'USER')
	</insert>
	
	<!-- 회원 탈퇴(삭제)o.k -->
	<delete id="memberdelete" parameterType="String">
		delete from tbl_user where user_id  = #{userId}
	</delete>
	
	<!-- 회원 목록 출력 o.k-->
	<select id="memberList" resultType="com.kr.coffie.login.vo.dto.LoginDto$LoginResponseDto">
		select  
	  	     	 u.user_id,
	  	         u.user_name,
	  	         u.user_gender,
	  	         u.user_age,
	  	         u.user_email,
	  	         u.user_auth,
	  	         a.create_at,
	  	         u.update_at
	  	     from 
	  	     	tbl_user u
	  	     inner join 
	  	     	tbl_user_auth a 	
	  	     on 
	  	     	u.user_auth = a.auth_id
	  	     <include refid="mapper.common.common_mapper.paging"/>		
	</select>
	
	<!-- 회원조회o.k -->
	<select id="memberdetail" parameterType="String" resultType="com.kr.coffie.login.vo.dto.LoginDto$LoginResponseDto">
		select * from tbl_user where user_id = #{userId}
	</select>
	
	<!-- 회원 정보수정 o.k-->
	<update id="memberupdate" parameterType="com.kr.coffie.login.vo.dto.LoginDto$LoginRequestDto">
		update 
			tbl_user u
		inner join
			tbl_user_auth a
		on 
			u.user_auth = a.auth_id		
		set
			u.user_Name = #{userName},
			u.user_age = #{userAge},
			u.user_Email = #{userEmail},
			u.user_addr1 = #{userAddr1},
			u.user_addr2 = #{userAddr2},
			u.update_at = now()
		where
			u.user_id = #{userId}		
	</update>
	
	<!-- 회원수 o.k-->
	<select id="totalmember" resultType="int">
		select count(*) from tbl_user
	</select>
	
	<!-- 회원 탈퇴(선택삭제)o.k -->
	<select id="membercheckdelete">
		delete from tbl_user where user_id = #{userId}
	</select>
</mapper>