<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kr.coffie.mypage.mapper.MypageMapper">

<select id="wishlist" resultType="com.kr.coffie.mypage.vo.dto.MypageDto$MypageResponseDto">
	select 
		f.favorite_id,
		f.place_id,
		f.user_id,
		f.file_group_id,
		i.thumb_file_image_path,
		i.img_path,
		i.is_title,
		p.place_addr1,
		p.review_rate,
		p.place_name,
		f.created_at
	from 
		tbl_favorite_place f
	inner join
		tbl_place_images i
	on
		f.file_group_id = i.file_group_id
	inner join
		tbl_place p
	on 
		i.file_group_id = p.file_group_id
	where
		i.is_title = 1
	and 
		f.user_id = #{userId}						
</select>

<insert id="wishinsert" parameterType="com.kr.coffie.mypage.vo.dto.MypageDto$MypageRequestDto">
	insert into 
		tbl_favorite_place
		(
			place_id,
			user_id,
			file_group_id,
			created_at
		)
	values
	(	
		#{placeId},
		#{userId},
		#{fileGroupId},
		now()
	)
</insert>

<delete id="wishdelete">
	delete from 
		tbl_favorite_place 
	where 
		favorite_id = #{favoriteId}
	and 
		user_id = #{userId}	
</delete>

<select id="wishcheck" resultType="int">
	select 
		count(*) 
	from 
		tbl_favorite_place 
	where 
		user_id = #{userId}
	and
		place_id = #{placeId}	
</select>

<select id="myarticle" parameterType="String" resultType="com.kr.coffie.mypage.vo.dto.MypageDto$MypageArticle">
(
	SELECT
		b.board_id AS id,
		b.board_title AS title,
		b.board_contents AS contents,
		b.board_author AS author,
		b.file_group_id,
		b.created_at				
	FROM
		tbl_board b
	WHERE
 		b.board_author=#{userId}
)
	UNION ALL 
(
	SELECT
		n.notice_id AS id,
		n.notice_title AS title,
		n.notice_contents AS contents,
		n.notice_author AS author,
		n.notice_fixed,
		n.created_at
	FROM
		tbl_notice_board n
	WHERE 
		n.notice_author =#{userId}
)
</select>
</mapper>