<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kr.coffie.common.reply.mapper.ReplyMapper">
	<select id="replylist" parameterType="Integer" resultType="com.kr.coffie.common.reply.vo.dto.ReplyDto$ReplyResponseDto">
		select 
			* 
		from 
			tbl_board_reply 
		where 
			board_id = #{boardId}
	</select>

	<select id="replydetail" parameterType="Integer" resultType="com.kr.coffie.common.reply.vo.dto.ReplyDto$ReplyResponseDto">
		select 
			* 
		from 
			tbl_board_reply 
		where 
			reply_id = #{replyId}
	</select>

	<insert id="replywrite" parameterType="com.kr.coffie.common.reply.vo.dto.ReplyDto$ReplyRequestDto">
		insert into tbl_board_reply
			(board_id,reply_contents,reply_writer,created_at)
		values
			(#{boardId},#{replyContents},#{replyWriter},now())
	</insert>

	<delete id="replydelete" parameterType="Integer">
		delete from 
			tbl_board_reply 
		where 
			reply_id = #{replyId}
	</delete>
	
	<select id="placereplylist" parameterType="Integer" resultType="com.kr.coffie.common.reply.vo.dto.ReplyDto$PlaceReplyResponseDto">
		select 
			* 
		from 
			tbl_board_reply 
		where 
			place_id = #{placeId}
	</select>
	
	<select id="placereplydetail" parameterType="Integer" resultType="com.kr.coffie.common.reply.vo.dto.ReplyDto$PlaceReplyResponseDto">
		select 
			* 
		from 
			tbl_board_reply 
		where 
			reply_id = #{replyId}
	</select>
	
	<insert id="placereplywrite" parameterType="com.kr.coffie.common.reply.vo.dto.ReplyDto$ReplyRequestDto">
		insert into 
			tbl_board_reply
			(place_id,reply_point,reply_contents,reply_writer,created_at)
		values
			(#{placeId},#{replyPoint},#{replyContents},#{replyWriter},now())
	</insert>
	
	<delete id="placereplydelete" parameterType="Integer">
		delete from 
			tbl_board_reply 
		where 
			reply_id = #{replyId}
	</delete>
	
	<update id="replypluslike" parameterType="Integer">
		update
			tbl_board_reply
		set
			reply_like =1
		where
			reply_id = #{replyId}		
	</update>
	
	<update id="replyminuslike" parameterType="Integer">
		update
			tbl_board_reply
		set
			reply_like = 0
		where
			reply_id = #{replyId}		
	</update>
	
	<select id="replycheck" parameterType="Integer" resultType="Integer">
		select
			reply_like
		from 
			tbl_board_reply
		where
			reply_id = #{replyId}		
	</select>
	
	<select id="getStarAvgByPlaceId" parameterType="Integer" resultType="double">
		select
			avg(reply_point)
		from
			tbl_board_reply
		where
			place_id = #{placeId};
	</select>
</mapper>